:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4f7bff;
  text-decoration: none;
}
a:hover {
  color: #3b65e6;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e1e, #292929);
}

h1 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  color: #f1f1f1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7em 1.4em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  border-color: #4f7bff;
  background-color: #252525;
}

button:focus,
button:focus-visible {
  outline: 3px solid #4f7bff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
    background-color: #f8f8f8;
  }
  
  a {
    color: #536dfc;
  }

  a:hover {
    color: #3b4fd1;
  }

  button {
    background-color: #eaeaea;
    color: #212121;
  }

  button:hover {
    background-color: #dcdcdc;
  }
}
